/*全体の背景をピンクに設定*/
body{
background-color:mistyrose;
/*margin: 0%;
padding: 0%;
*/}

.jumbotron-extend{
    background:url(../image/sample1.jpg) center no-repeat; background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 300px;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    left:40%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 40px;
    color: #fff;
    font-family: serif;
}
.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}
/*.btn-black:hover {
     background-color: #fff;
     color: #000;
}
*/
/*メイン画像の設定*/
#main{
    position: relative;
}
/*メインのメッセージ設定*/
#main img{
    width: 100%;
}
#main p1{
    position: absolute;
    color:white;
    top:100%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:0%;
    padding:0%;
}

#main p2{
    position: absolute;
    color: white;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

